.u-logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
  }

  :host ::ng-deep .ant-layout-sider-collapsed .u-nav-text {
    display: none;
  }

  :host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
    display: none;
  }

  :host ::ng-deep .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
  }

  :host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
  }

  :host ::ng-deep .trigger:hover {
    color: #108ee9;
  }
  .u-header {
    background: #fff; 
    padding:0;
  }

  .u-content{
    margin:16px;
  }

  .u-footer{
    text-align: center;
  }

  .u-content-wapper {
    padding:24px; 
    background: #fff; 
    height: calc(100vh - 162px);
  }

  